/**
* DEFAULT BODY STYLE
*/

@import './shared.less';
@import './components/navbar.less';

@background-color: #E8E8E8;

body {
	background-color: @background-color;
}

.blue {
	color: @blue !important;
}